
@font-face {
    font-family: 'poppinssemibold';
    src: url('fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold_italic';
    src: url('fonts/poppins-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/poppins-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextrabold';
    src: url('fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextrabold_italic';
    src: url('fonts/poppins-extrabolditalic-webfont.woff2') format('woff2'),
         url('fonts/poppins-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextralight';
    src: url('fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextralight_italic';
    src: url('fonts/poppins-extralightitalic-webfont.woff2') format('woff2'),
         url('fonts/poppins-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsitalic';
    src: url('fonts/poppins-italic-webfont.woff2') format('woff2'),
         url('fonts/poppins-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('fonts/poppins-light-webfont.woff2') format('woff2'),
         url('fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight_italic';
    src: url('fonts/poppins-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/poppins-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'poppinssemibold';
    color: #4D5C5C;
}
a{
    text-decoration: none !important;
    color: white;
}
a:hover{
   color: rgba(255, 255, 255, 0.685);
}
nav{
    background-color: #D23937 !important;
    border-radius: 0 !important;
    border: none !important;
    height: 100px;
}
.navbar-brand{
    margin-left: 100px;
}
.navbar-collapse{
    position: absolute;
    right: 100px;
}
.nav-link{
    font-size: 14px !important;
    color: white !important;
}
.carousel, .carousel img{
    max-height: calc(100vh - 100px);
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.paragraph{
    font-family: 'poppinsregular';
}
.medium{
    font-family: 'poppinsmedium';
}
.regular{
    font-family: 'poppinsregular';
}
.italic{
    font-family: 'poppinsitalic';
}
.semibold{
    font-family: 'poppinssemibold';
}
.fs-14{
    font-size: 14px;
}
.fs-40{
    font-size: 40px;
}
.lh1-5{
    line-height: 1.5;
}
.bg-grey{
    background-color: #525D5D;
}
.carousel-caption{
    top: 100px;
    left: 150px;
    font-size: 42px;
    text-align: left;
    width: 520px;
}
.banner-button{
    font-size: 24px;
    background-color: #D23937;
    width: 300px !important;
    border-bottom-right-radius: 195px;
    border-top-right-radius: 25px;
    font-family: 'poppinsextrabold_italic' !important;
    line-height: 1;
    z-index: -1;
    top: 20px;
    left: 80px;
}
/* -------------------section 2-------------------- */



.blockquote{
    background-color: #E4E4E4;
}

.schedule-free{
    background-color: #D23937;
    line-height: 1;
}


.newsletter-section {
    background-color: #EAEFEF;
    /* padding-top: 200px;
    padding-bottom: 200px; */
}
.newsletter-txt{
    color: #667777 !important;
}
.mouse{
    top: -50px;
    left: 350px;
}
.btn-white{
    background-color: white;
    color: #D23937;
    border-radius: 20px;
    font-family: 'poppinsextrabold';
    font-size: 16px;
}
.btn-white:hover{
    opacity: 0.9;
    color: #d23a37cc;
}
.logo-section img{
        height: 80px;
        width: 300px;
}
.btn-red{
    background-color: #D23937;
    border-radius: 0 19px 19px 0;
    height: 70px;
}
form .input-group input{
    height: 70px;
    width: 400px !important;
    border: none;
    border-radius: 14px;
}
form .input-group input::placeholder{
    font-family: 'poppinslight_italic';
    color: #667777;
}
.form-control:focus{
    box-shadow: none !important;
}
.footer-logo img{
    height: 50px;
}
.navlinks{
    align-items: flex-end;
    flex-wrap: wrap;
    line-height: 2;
}
.social-icons img{
    width: 16px;
     height: 16px;
}
@media screen and (max-width: 992px) {
    .carousel-caption{
        top: 80px;
        left: 120px;
        font-size: 42px;
        text-align: left;
        width: 520px;
    }
    .mouse{
        width: 170px !important;
        height: 170px !important;
        top: -55px;
        left: 340px;
    }
}

@media screen and (max-width: 552px) and (min-width: 490px) {
    .mouse{
        top: 100px;
        left: 270px;
    }
}
@media screen and (max-width: 490px) and (min-width: 440px) {
    .mouse{
        width: 150px !important;
        height: 150px !important;
        top: 140px;
        left: 250px;
    }
}
@media screen and (max-width: 440px) {
    .mouse{
        width: 100px !important;
        height: 100px !important;
        top: 155px;
        left: 226px;
    }
}
@media screen and (max-width: 700px) {
    .carousel-caption{
        top: 30px;
        left: 50px;
        font-size: 36px;
        text-align: left;
        width: 520px;
    }
}
@media screen and (max-width: 500px) {
    .carousel-caption{
        top: 10px;
        left: 10px;
        font-size: 30px;
        text-align: left;
        width: 360px;
    }
}


.slide-container{
    /* max-width: 1120px;
    width: 100%; */
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-bottom-right-radius: 50%;
    background-color: #FFF;
    width: 200px !important;
    border: 1px solid #DDDDDD;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .card-image{
    position: relative;
    height: 100px;
    width: 100px;
    background: #FFF;
    padding: 3px;
  }
 
  .swiper-navBtn{
    color: #667777 !important;
    transition: color 0.3s ease;
    border: 1px solid #667777;
    border-radius: 50%;
    padding: 2rem;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }